@model FriendsViewModel
@{
    ViewData["Title"] = "Friends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Pagination.css" rel="stylesheet" type="text/css" />
<style>
</style>

<partial name="_NavigationMenuEditProfile" />

<h4 class="alert-warning" style="text-align:center;">Редактиране на приятелите</h4>
<br />

@if (Model.Friends.Count == 0)
{
    <div style="text-align:center"><strong>Няма налични приятели във вашият списък</strong></div>
}


@{
    int rowCounter = Model.Friends.Count % 5 == 0 ? (Model.Friends.Count / 5) : ((Model.Friends.Count / 5) + 1);
}

<div class="container">

    <br />

    @for (int row = 0; row < rowCounter; row++)
    {
        <br />
        <div class="row">

            @for (int col = 0; col < 5; col++)
            {
                <div class="col-lg-2">



                    @if (((row * 5) + col) < Model.Friends.Count())
                    {
                        var base64 = Convert.ToBase64String(Model.Friends[(row * 5) + col].ProfilePicture);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", @base64);
                        <img src="@imgSrc" style="width:130px; height:130px" />
                        <div><br /></div>
                        <div><a asp-area="Edit" asp-controller="Profile" asp-action="View" asp-fragment="@Model.Friends[(row * 5) + col].UserId"></a></div>
                        <div>
                            <form style="background-color:white" class="col-lg-1" method="post" asp-area="Edit" asp-controller="Profile" asp-action="Friends">
                                <input type="hidden" value="@Model.Friends[(row * 5) + col].UserId" name="FriendId" />
                                <a class="alert-info" href="Линк към Профила">Профил</a>
                                <br />
                                <button type="submit" class="btn-group-sm btn-danger">Изтрий приятел</button>
                            </form>
                            <div style="background-color:white"><br /></div>
                        </div>
                    }

                </div>

            }
        </div>

    }
</div>
<br />

@if (Model.allPages > 1)
{
    <div class="pagination container">
        <div class=" @(Model.currentPage == 1 ? "disabled" : string.Empty)"> <a class="@(Model.currentPage == 1 ? "isDisabled" : "link")" asp-route-page="@Model.previousPage"> <span aria-disabled="true">&laquo;</span></a> </div>
        <div class="page"><a asp-route-page="@Model.currentPage"><span class="link">@Model.currentPage</span></a> </div>
        <div class="page @(Model.currentPage == Model.allPages ? "disabled" : string.Empty)">  <a class="@(Model.currentPage == Model.allPages ? "isDisabled" : "link")" asp-route-page="@Model.nextPage"> <span aria-disabled="true">&raquo;</span></a> </div>


    </div>
}
