@model SearchResultViewModel
@*@{
        ViewData["Title"] = "SearchResult";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

<link href="~/css/Pagination.css" rel="stylesheet" type="text/css" />



@if (Model.Results.Count == 0)
{
    <div style="text-align:center"><strong>Няма открити резултати</strong></div>
}


@{
    int rowCounter = Model.Results.Count % 5 == 0 ? (Model.Results.Count / 5) : ((Model.Results.Count / 5) + 1);
}

<br />
<partial name="_NavigationMenuSearch" />
<br />
<h4 class="alert-warning" style="text-align:center;">Търсене по име</h4>
<div class="container">

    <br />

    @for (int row = 0; row < rowCounter; row++)
    {
        <br />
        <div class="row">

            @for (int col = 0; col < 5; col++)
            {
                <div class="col-lg-2">



                    @if (((row * 5) + col) < Model.Results.Count())
                    {
                        var base64 = Convert.ToBase64String(Model.Results[(row * 5) + col].PrifilePicture);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", @base64);
                        <div>@Model.Results[(row * 5) + col].FirstName</div>
                        <div>@Model.Results[(row * 5) + col].LastName</div>
                        <div> <img src="@imgSrc" style="width:130px; height:130px" /></div>
                        <div><br /></div>
                        <a href="BLABLABLA">Отвори Профил</a>


                    }

                </div>

            }
        </div>

    }
</div>

@if (Model.MaxPage > 1)
{
  

    <div class="pagination container">
        <div class=" @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"> <a class="@(Model.CurrentPage == 1 ? "isDisabled" : "link")" asp-area="Search" asp-controller="SearchFor" asp-action="SearchByNameResult" asp-route-FirstName="@ViewBag.FirstName" asp-route-LastName="@ViewBag.LastName" asp-route-page="@Model.PreviousPage"> <span aria-disabled="true">&laquo;</span></a> </div>
        <div class="page"><a asp-route-page="@Model.CurrentPage"><span class="link">@Model.CurrentPage</span></a> </div>
        <div class="page @(Model.CurrentPage == Model.MaxPage ? "disabled" : string.Empty)">  <a class="@(Model.CurrentPage == Model.MaxPage ? "isDisabled" : "link")" asp-area="Search" asp-controller="SearchFor" asp-action="SearchByNameResult" asp-route-FirstName="@ViewBag.FirstName" asp-route-LastName="@ViewBag.LastName" asp-route-page="@Model.NextPage"> <span aria-disabled="true">&raquo;</span></a> </div>


    </div>

}





